body {
    background-color: #f1e3dd;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 20px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #667292;
  color: white;
  font-size: 30px;
}

.external-link-icon {
    text-decoration: none;
    border: 0px;
}

.external-link-icon img {
   width: 32px;
   height:32px;
}

.sidebar {
  height: 100%; 
  width: 160px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

div.gallery {
  margin: 5px;
  border: 1px solid black;
  float: left;
}

div.gallery img:hover {
  border: thick solid #8d9db6;
}

div.gallery img {
  width: auto;
  height: 240px;
  border: 1px solid #bccad6;
}

.movie-image img {
    width: 188px;
    height: 268px;
}

.show-image img {
    width: 188px;
    height: 268px;
}

div.col {
    float: left;
    width: 33.33%;
    padding: none;
}

div.artist-profile {
    width: 188px;
    height: auto;
}

div.artist-profile img {
    width: 100%;
    height: auto;
}

div.desc {
    text-align: center;
}
